@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #f6fbf7;
}

.dark body {
  background: #0b1a13;
}

.input {
  width: 100%;
  padding: 12px;
  border-radius: 16px;
  background: #f4f4f4;
  font-weight: bold;
}